<ng-container *ngIf="!isMenuOpen">
  <div class="order">
    <div class="wrapper">
      <h1 translate>for our customers</h1>
      <p></p>
    </div>
    <p>Please complete the contact form below to enable us to reach out and address any inquiries you may have.</p>
    <p>If you prefer, feel free to contact us through email at <a href="mailto:thesource.ladigital@gmail.com" target="_blank">thesource.ladigital@gmail.com</a> or reach out via instant messengers and social networks.</p>
    <img src="/assets/images/order.image.png" />
  </div>
  <app-footer></app-footer>
</ng-container>

