@import '../../../../styles/variables.scss';
.order{
  padding: 15px;

  p {
    font-weight: 300;
  }
  a{
    text-decoration: none;
    font-weight: 500;
  }
}

button{
  margin-top: 20px;
  width: 100%;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 18px;
  max-width: 350px;
  height: 50px;
  color: white;
  background-color: black;
  border: none;
  cursor: pointer
}

form {
  padding: 20px 0;

  .mat-mdc-form-field {
    width: 100%;
  }
}
.block{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 150px;

  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
    gap: 50px;

    img {
      width: 100%;
    }
  }

  img {
    padding-top: 50px;
    max-width: 500px;
  }
}

.response {
  text-align: center;
}
