<footer class="footer">
  <div class="footer__wrapper">
    <div class="footer__contact">
      <div class="footer__title">наши&nbsp;<span>контакты</span></div>
      <div class="footer__wrapper-contact">
        <img src="../../../assets/svg/phone-footer.svg" alt="phone" />
        <a href="tel:+48-455-440-4400">+48-455-440-440</a>
      </div>
      <div class="footer__wrapper-contact">
        <img src="../../../assets/svg/marker-outline-footer.svg" alt="marker" />
        <p class="footer-wrapper-text">г.&nbsp;Варшава</p>
      </div>
      <div class="footer__wrapper-contact">
        <img src="../../../assets/svg/email-footer.svg" alt="email" />
        <a href="mailto:lacleanonline@gmail.com">lacleanonline@gmail.com</a>
      </div>
      <div class="footer__wrapper-contact">
        <img src="../../../assets/svg/hours-footer.svg" alt="hours" />
        <p class="footer-wrapper-text">работаем&nbsp;24/7</p>
      </div>
      <div class="footer__wrapper-contact">
        <img src="../../../assets/svg/people-repeat-footer.svg" alt="people" />
        <div class="footer__wrapper-social">
          <a href="https://www.instagram.com"></a>
          <a href="https://www.facebook.com"></a>
          <a href="https://www.telegram.com"> </a>
          <a href="https://www.example.com"></a>
        </div>
      </div>
    </div>
    <div class="footer__image"></div>
    <div class="footer__requisites">
      <div class="footer__title">Реквизиты</div>
      <div class="footer__wrapper-requisites">
        <p>Для оплаты онлайн</p>
        <p>LA GROUP SPOLKA Z OGRANICZONA</p>
        <p>ODPOWIEDZIALNOSCIA</p>
        <p>NIP 8241819390</p>
        <p>CIF 1018781195</p>
        <p>REGON 525651892</p>
        <p>WARSZAWA</p>
        <p>07 1090 2590 0000 0001 5465 3276</p>
      </div>
      <a class="footer__requisites-link" href="/">Политика&nbsp;конфиденциальности</a>
      <a class="footer__requisites-link" href="/">Обработка&nbsp;персональных&nbsp;данных</a>
    </div>
    <div class="footer__bubble"></div>
  </div>
</footer>
