:host{
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100% - 90px);
  align-items: end;
}


.stages{

  @media (max-width: 1280px) {
    padding: 0 15px;
  }

  &-title{
    padding-top: 50px;
    font-family: 'CustomFontRegular', sans-serif;
    font-size: 24px;
    text-decoration-line: underline;
    margin-bottom: 55px;
    text-transform: uppercase;

    @media (max-width: 1280px) {
      font-size: 20px;
      text-decoration-line: none;
    }
  }
  &-work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 35px;

    @media screen and (max-width: 1280px) {
      grid-template-columns: 1fr;
    }
  }
}
