<div class="company">
  <div class="company-wrapper">
    <div class="company-block">
      <div class="company-block__title">О КОМПАНИИ <span>LA CLEAN</span></div>
      <p>Миссией нашей компании является обеспечивать чистоту и комфорт, сохраняя время и силы клиента.</p>
      <p>Мы находим индивидуальный подход к каждому клиенту и не боимся ответственности за выполненную работу.</p>
      <p>  Новое профессиональное оборудование и средства дают нам возможность сокращать время уборки и улучшать качество оказываемых услуг.</p>
      <p>Вежливый и обученный персонал является основным нашим преимуществом.</p>
      <p>LA CLEAN создан командой молодых людей, которые знают, как приятно возвращаться в чистый и свежий дом, при этом, не прикладывая никаких усилий.</p>
    </div>

    <div class="company-block company-card">
      <div class="company-block__card">
        <div class="icon"></div>
        <div>приезжаем в любое удобное для вас время</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>у нас опытные и обученные клинеры</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>заключаем договор</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>наличный и безналичный расчёт</div>
      </div>

      <div class="company-block__card">
        <div class="icon"></div>
        <div>используем только безопасную химию и новое профессиональное оборудование</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>весь процесс уборки контролирует клининг-менеджер, проверяя качество оказываемых работ на каждом этапе</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>скидки и бонусы постоянным клиентам</div>
      </div>
      <div class="company-block__card">
        <div class="icon"></div>
        <div>гарантируем целостность и сохранность вашего имущества</div>
      </div>
    </div>
  </div>
</div>
