@import '../../../../styles/variables.scss';

section{
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 80px;

  @media (max-width: $desktop) {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

img{
  width: 400px;
  height: 400px;
  transition: all .3s;

  @media (min-width: $desktop) {
    width: 100%;
  }
  &:hover{
    box-shadow: -15px 0 10px 0 rgba(0,0,0,0.2)
  }
}

p{
  text-align: center;
}
