h1 {
  font-family: CustomFontRegular, sans-serif;
  font-weight: 400;
  font-size: 52px;
  text-align: center;
  letter-spacing: 2px;
  margin: 0 0 50px;

  @media (min-width: 1280px) {
    font-size: 125px;
  }
}

.image {
  text-align: center;
  padding-bottom: 30px;

  img {
    width: 345px;
    height: 485px;
  }
}





