<ng-container *ngIf="!isMenuOpen">
  <div class="contacts">
    <div class="wrapper">
      <div class="contacts__email">
        <a href="mailto:thesource.ladigital@gmail.com">thesource.ladigital@gmail.com</a>
      </div>
      <div class="contacts__messenger">
        <div>
          <div><a href="https://wa.me/+48512575546" target="_blank">WhatsApp</a></div>
          <div><a href="https://www.facebook.com/profile.php?id=100095537733323" target="_blank">Facebook</a></div>
        </div>
        <div>
          <div><a href="">Telegram</a></div>
          <div><a href="https://www.instagram.com/thesource_digital_agency" target="_blank">Instagram</a></div>
        </div>
      </div>
      <div class="contacts__phone">
        <a href="tel:+48512575546" target="_blank">+48 512 575 546</a>
      </div>
      <div class="contacts__button">
        <button routerLink="/order" translate>page.contacts.discussTheProject</button>
      </div>
    </div>
  </div>
</ng-container>
