@import '../../../../styles/variables.scss';

:host{
  display: grid;
  grid-template-rows: auto 1fr;
  height: calc(100% - 90px);
  align-items: end;
}

.team {

  max-width: $desktop;
  margin: 0 auto;
  @media (max-width: $desktop) {
    padding: 0 15px;
  }

  video{
    width: 100%;
  }


  &__card {
    gap: 30px;
    display: grid;

    @media(min-width: $desktop) {
      gap: 150px;
      padding: 50px 0;
    }
  }
}
