<ng-container *ngIf="!isMenuOpen">
  <section>
    <hr/>
    <div class="links"><a [routerLink]="'/'">Home</a> / <a [routerLink]="'/portfolio'">Portfolio</a> / <span>{{value?.name}}</span></div>
    <hr/>
    <p *ngFor="let title of value?.title" translate>{{title}}</p>
    <p>{{'menu.services' | translate}} :</p>
    <ul>
      <li *ngFor="let item of value?.services" translate>{{item}}</li>
    </ul>
      <lightgallery [settings]="settings" class="gallery">
        <a *ngFor="let image of value?.photos" class="image" [href]="image">
          <img class="img-responsive" [src]='image' />
        </a>
      </lightgallery>
  </section>
  <app-footer></app-footer>
</ng-container>

