@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lightgallery.css');
@import url('https://cdn.jsdelivr.net/npm/lightgallery@2.0.0-beta.4/css/lg-zoom.css');

section{
  padding: 0 15px;
  font-weight: 300;

  p img{
    padding-bottom: 15px;
  }
}
img {
  width: 100%;
}
ul {
  margin-top: -5px;
  padding: 0 50px 50px;
}

.links{
  a {
    color: black;
  }
}

.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;

  @media (max-width: 1180px) {
    grid-template-columns: 1fr;
  }
}

