@import '../../../styles/variables.scss';
.social{
  padding-bottom: 120px;
  position: relative;

  @media (max-width: $desktop) {
    padding-bottom: 60px;
  }

  &:before{
    content: '';
    position: absolute;
    width: 315px;
    height: 348px;
    background-image: url("../../../assets/svg/bubble.svg");
    background-repeat: no-repeat;
    background-size: contain;
    z-index: -1;
    bottom: 0;
    left: 15px;
    @media (max-width: $desktop) {
      display: none;
    }
  }


  &__wrapper{
    margin: auto;
    max-width: $desktop;
    box-sizing: border-box;
  }

  &__title {
    max-width: $desktop;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 auto 18px;
    @media (max-width: $desktop) {
      display: flex;

      height: 171px;
      background-color: #85a5a9;
      padding: 15px 15px;
      flex-direction: column;
    }

    p{
      color: $black;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      line-height: 37.5px;
      max-width: 797px;
      margin: 0;
      @media (max-width: $desktop) {
        padding-top: 36px;
        text-align: start;
        font-size: 20px;
        line-height: 25px;
      }
    }

    span{
      color: $light-green;
      font-size: 24px;
      font-style: normal;
      font-weight: bold;
      line-height: 37.5px;
      @media (max-width: $desktop) {
        font-size: 20px;
        color: $white;
        line-height: 25px;
      }
    }
  }

  &__icons {
    display: flex;
    gap: 20px;
    a {
      display: flex;
      width: 30px;
      height: 30px;
      background-color: $black;
      border-radius: 50%;
      align-items: center;
      justify-content: center;

      @media (max-width: $desktop) {
        width: 50px;
        height: 50px;
      }
    }
  }

  &__grid-photos {
    display: flex;
    height: 340px;
    width: 100%;
    gap: 35px;
    @media (max-width: $desktop) {
      display: none;
    }
  }

  &__grid-column1 {
    width: 190px;
    height: auto;
    border-radius: 5px;
    background-image: url(../../../assets/images/social-blok1.png);
  }

  &__grid-column2 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    div:nth-child(1){
      width: 255px;
      height: 135px;
      border-radius: 5px;
      background-color: $light-green;
    }
    div:nth-child(2) {
      width: 255px;
      border-radius: 5px;
      height: 190px;
      background-image: url(../../../assets/images/social-blok2.png);
    }
  }

  &__grid-column3 {
    display: flex;
    gap: 15px;
    flex-direction: column;
    div:nth-child(1) {
      width: 300px;
      height: 201px;
      border-radius: 5px;
      background-image: url(../../../assets/images/social-blok3.png);
    }
    div:nth-child(2) {
      width: 300px;
      height: 135px;
      border-radius: 5px;
      background-color: $light-green;
    }
  }
  &__grid-column4 {
    border-radius: 5px;
    width: 380px;
    background-image: url(../../../assets/images/social-blok4.png);
  }
}







