<section class="social">
  <div class="social__wrapper">
    <div class="social__title">
      <p>Чтобы не пропустить акции и скидки на уборку, подписывайтесь на&nbsp;<span>наши соцсети</span></p>
      <div class="social__icons">
        <a href="/"><img src="../../../assets/svg/instagram.svg" alt="instagram" /></a>
        <a href="/"><img src="../../../assets/svg/facebook.svg" alt="facebook" /></a>
      </div>
    </div>
    <div class="social__grid-photos">
      <div class="social__grid-column1"></div>
      <div class="social__grid-column2">
        <div></div>
        <div></div>
      </div>
      <div class="social__grid-column3">
        <div class="social-grid-column3-img"></div>
        <div class="social-grid-column3-bg"></div>
      </div>
      <div class="social__grid-column4"></div>
    </div>
  </div>

</section>
