<div class="main-header">
  <div class="main-header__wrapper">
    <div class="main-header__title">
      <h1>LA CLEAN 	— Профессиональные клининговые услуги в Варшаве</h1>
      <h2>LA CLEAN дарит уют, чистоту и свежесть вашему пространству.<br />
        Цель нашей компании сделать качественным и приятным клининговый сервис.<br />
        Мы создаем особую атмосферу.
      </h2>
    </div>
    <div class="main-header__types-clean">
      <div class="main-header__type">
        <h3>ГЕНЕРАЛЬНАЯ УБОРКА</h3>
        <div>от 450 pln</div>
        <div class="cost">РАССЧИТАТЬ СТОИМОСТЬ <mat-icon>event_note</mat-icon></div>
      </div>

      <div class="main-header__type">
        <h3>Поддерживающая уборка</h3>
        <div>от 170 pln</div>
        <div class="cost">РАССЧИТАТЬ СТОИМОСТЬ <mat-icon>event_note</mat-icon></div>
      </div>

      <div class="main-header__type">
        <h3>МОЙКА ОКоН</h3>
        <div>от 35 pln</div>
        <div class="cost">РАССЧИТАТЬ СТОИМОСТЬ <mat-icon>event_note</mat-icon></div>
      </div>

      <div class="main-header__type">
        <h3>ХИМЧИСТКА</h3>
        <div>от 15 pln</div>
        <div class="cost">РАССЧИТАТЬ СТОИМОСТЬ <mat-icon>event_note</mat-icon></div>
      </div>

    </div>
    <div class="main-header__social">
      <div class="line"></div>
      <div class="main-header__social-item">
        <a href="/" target="_blank">
        </a>
        <a href="/" target="_blank">
        </a>
        <a href="/" target="_blank">
        </a>
        <a href="/" target="_blank">
        </a>
      </div>
      <div class="line"></div>
    </div>
  </div>
</div>

