<div class="main">
  <div class="main__wrapper">
    <div class="main__header">
      <div class="main__logo">
        <a href="/">
          <img src="assets/svg/logo.svg" alt="logo">
        </a>
      </div>
      <div class="main__title">THE SOURCE</div>
      <div class="main__social">
        <a href="https://www.facebook.com/profile.php?id=100095537733323" target="_blank">
          <img src="assets/svg/facebook.svg" alt="facebook">
        </a>
        <a href="https://www.instagram.com/thesource_digital_agency" target="_blank">
          <img src="assets/svg/instagram.svg" alt="instagram">
        </a>
        <a href="https://www.instagram.com/the_source/" target="_blank">
          <img src="assets/svg/telegram.svg" alt="telegram">
        </a>
        <a href="https://wa.me/+48455440444" target="_blank">
          <img src="assets/svg/ws.svg" alt="ws">
        </a>
      </div>
  </div>
    <div class="main__content">
      <div class="main__left left">
        <div class="left__title">THE SOURCE is a digital boutique that creates unique strategies for each brand or expert</div>
        <img src="assets/images/left-image.png">
      </div>
      <div class="main__middle">
        <img src="assets/images/root-image.png">
      </div>
      <div class="main__right right">
        <img src="assets/images/right-image.png">
        <div class="right__title">our creative agency, which helps companies develop their brand, provides a wide range of services: brand consulting, branding (logo and brand ID), packaging design, printing collateral materials, social media strategy and management, web design and development</div>
      </div>
    </div>
    <div class="main__footer">
      <h2>The website is under construction...</h2>
      <p>our website is under construction! but you can contact us on social networks, instant messengers or email us </p>
      <a href="mailto:Thesource.ladigital@gmail.com">Thesource.ladigital@gmail.com</a>
      <p></p>
    </div>
  </div>
</div>

